<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangjicheng.top.vepdao.mapper.BlogCategoryMapper">
    <resultMap id="BlogCategoryResultMap" type="com.huangjicheng.top.vepdao.entity.BlogCategory">
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="category_rank" jdbcType="INTEGER" property="categoryRank"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, category_name, category_rank, is_deleted, create_time,update_time
    </sql>

    <select id="getList" parameterType="java.lang.String" resultMap="BlogCategoryResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_category
        <trim prefix="where" prefixOverrides="and">
            <if test="categoryName != null and categoryName.length() > 0">and category_name like '%${categoryName}%'</if>
            <if test="isDeleted != null">and is_deleted = #{isDeleted}</if>
        </trim>
        order by id desc
    </select>

    <select id="get" parameterType="Integer" resultMap="BlogCategoryResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_category where id = #{id}
    </select>

    <select id="getTotalByMonth" parameterType="String" resultType="Integer">
        select count(1) from blog_category where
         date_format(create_time,'%Y-%m') = #{month}
    </select>

    <select id="getByCateName" parameterType="String"
            resultMap="BlogCategoryResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_category
        where category_name = #{categoryName}
    </select>


    <delete id="delete" parameterType="Integer">
        delete from blog_category where id = #{id}
    </delete>


    <update id="updateStatus" parameterType="com.huangjicheng.top.vepdao.entity.BlogCategory">
       update  blog_category  set is_deleted = #{isDeleted},update_time = #{updateTime} where id = #{id}
    </update>

    <insert id="save" parameterType="com.huangjicheng.top.vepdao.entity.BlogCategory">
        insert into blog_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="categoryRank != null">
                category_rank,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="categoryName != null">
                #{categoryName},
            </if>

            <if test="categoryRank != null">
                #{categoryRank},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.huangjicheng.top.vepdao.entity.BlogCategory">
        update blog_category
        <set>
            <if test="categoryName != null">
                category_name = #{categoryName},
            </if>
            <if test="categoryRank != null">
                category_rank = #{categoryRank},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>