<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangjicheng.top.vepdao.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.huangjicheng.top.vepdao.entity.User">
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="userField">
      id,username,role_id,create_time,mobile,email,state,update_time
    </sql>

    <select id="login" parameterType="com.huangjicheng.top.vepdao.entity.User" resultMap="UserResultMap">
        select
        <include refid="userField"/>
        from user where username = #{username} and password = #{password}
    </select>

    <select id="get" parameterType="Integer" resultMap="UserResultMap">
        select
        <include refid="userField"/>
        from user where id = #{id}
    </select>

    <select id="getList" parameterType="com.huangjicheng.top.vepdao.entity.User" resultMap="UserResultMap">
        select
        <include refid="userField"/>
        from user
        <trim prefix="WHERE">
            1 = 1
            <if test="username != null and username.length()>0">and username like '%${username}%'</if>
            <if test="email != null and email.length()>0">and email like '%${email}%'</if>
            <if test="mobile != null and mobile.length()>0">and mobile like '%${mobile}%'</if>

        </trim>
    </select>


    <delete id="delete" parameterType="Integer">
        delete from user where id = #{id}
    </delete>

    <update id="update" parameterType="com.huangjicheng.top.vepdao.entity.User">
        update user
        <set>
            <if test="username!= null and username != '' ">
                username = #{username},
            </if>
            <if test="state!= null">
                state = #{state},
            </if>
            <if test="roleId != null ">
                role_id = #{roleId},
            </if>
            <if test="mobile != null and mobile != '' ">
                mobile = #{mobile},
            </if>
            <if test="email != null and email != '' ">
                email = #{email},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.huangjicheng.top.vepdao.entity.User">
        insert into user (username,password,role_id,state,mobile,email,create_time)
        values (#{username},#{password},#{roleId},#{state},#{mobile},#{email},#{createTime})
    </insert>
</mapper>